html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  overflow: hidden;
}

.container-one {
  background: url('/images/europe.jpg');
}
.container-two {
  background: url('/images/america.jpg');
}
.container-three {
  background: url('/images/africa.jpg');
}
.container-four {
  background: url('/images/hongkong.jpg');
}
.container {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  color: #ffffff;
}
.container-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  background: rgba(0,0,0,0.5);
  padding: 10px 80px;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 100%;
  }
  .container {
    height: 25vh;
  }
  .container-content {
    top: 50%;
    font-size: 12px;
    padding: 5px 70px;
  }
} 
